<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <title>about</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}

        <img class="potrait" src="img/robot.png">
        <p>Hi! Myself {{name}}</p>
        <p>Software Engineer experience with a web-app development in the capital markets Domine.</p>
        <p>Currently working in HCL Technologies</p>
        <p>Skilled in Drools, Spring Boot, Java, REST API, Selenium, Vaadin, JSF. With a Bachelor of Engineering - BE focused in Electrical, Electronics and Communications Engineering from Panimalar Engineering College. </p>

        </div>
        
        {{>footer}}
    </body>
</html>
