<h1>{{title}}</h1>

<header>
    <table style="text-align: left;">
        <tbody>
            <tr>
                <td>
                    <a href="/">Weather</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/about">About</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/help">Help</a>
                </td>
            </tr>
        </tbody>
    </table>
</header>